{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Management System{% endblock title %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Include Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

    <!-- Include jQuery (required by Select2) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Include Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!--bootstrap icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"
        rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js"
        integrity="sha512-6sSYJqDreZRZGkJ3b+YfdhB3MzmuP9R7X1QZ6g5aIXhRvR1Y/N/P47jmnkENm7YL3oqsmI6AK+V6AD99uWDnIw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.select2').select2({
                width: '100%',  // Optional: adjusts the dropdown width
                placeholder: 'Select an option',  // Optional: placeholder text
                allowClear: true,  // Optional: allows the user to clear their selection
            });
        });
    </script>
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-lg fixed-top custom-nav-theme navbar-dark">
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/ac_logo.png' %}" 
                 style="max-height: 25px;" 
                 alt="College Crest">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'student-list' %}">Students</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'exam-list' %}">Examinations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'subject-list' %}">Subjects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'patron-list' %}">Patrons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'marks-filter-list-view' %}">Exam Records</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                {% if REGISTER_FLOW_ENABLED %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signup' %}">
                        <i class="fas fa-user-plus"></i> Sign Up
                    </a>
                </li>
                {% endif %}
                {% endif %}
            </ul>

        </div>
    </nav>
    {% endblock navbar %}

    <div class="content-wrap">
        {% block page_container %}
        <div class="container mt-4">
            {% block content %}{% endblock %}
        </div>
        {% endblock page_container %}
    </div>

    {% block footer %}
    <footer class="bg-light text-center py-3">
        <p>&copy; 2025 Student Scholarships Management. All rights reserved.</p>
    </footer>
    {% endblock footer %}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>