{% extends "_base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>{% if object %}Edit Patron{% else %}Add New Patron{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_first_name">First name:</label>
            {{ form.first_name }}
        </div>
        <div class="form-group">
            <label for="id_last_name">Last name:</label>
            {{ form.last_name }}
        </div>
        <div class="form-group">
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="id_phone">Phone:</label>
            #{{ form.phone }}
        </div>
        <div class="form-group">
            <label for="id_amount">Amount:</label>
            {{ form.amount }}
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'patron-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}