{% extends "_base.html" %}


{% block content %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<div class="container mt-5">
    <h2>{% if object %}Edit Subject{% else %}Add New Subject{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_name">Name:</label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="id_code">Code:</label>
            {{ form.code }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="{% url 'subject-list' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>

{% endblock %}